<html>
    <head>
        <title>Tutorial DjangoGirls </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tutorial DjangoGirls - LUIS DAVID MERCADO MALO</a></h1>
        </div>

        <div>
            <p>Publicado y terminado: 15.04.2024, 20:16</p>
            <h2><a href="">Este es mi primer post</a></h2>
            <p>Este es un post sencillo aun no tiene Css para que se vea bonito pero lo mas dificil ya esta hecho</p>
        </div>

        <div>
            <p>Publicado y terminado: 15.04.2024, 20:16</p>
            <h2><a href="">Mi otro post</a></h2>
            <p>Queda pendiente, datos dinamicos, plantillas, css, extendiendo, ampliar y formularios </p>
        </div>
    </body>
</html>